<h1>Renter</h1>

<p>First Name: <%= @renter.first_name %></p>
<p>Last Name: <%= @renter.last_name %></p>
<p>Email: <%= @renter.email_address %></p>
<p>Phone: <%= @renter.phone %></p>

<%= link_to "Update this Renter", edit_renter_path(@renter) %>

<%= link_to "Delete This Renter", renter_path(@renter), method: :delete %>
