<h1><%= @bluray.title %> <%= @bluray.year %></h1>

<h2>Title: <%= @bluray.title %></h2>
<h2>Actor: <%= @bluray.actor %></h2>
<h2>Year: <%= @bluray.year %></h2>
<h2>Genre: <%= @bluray.genre %></h2>
<h2>Director:  <%= @bluray.director %></h2>

<%= link_to "Edit this Bluray", edit_bluray_path(@bluray) %>

<%= link_to "All Bluray", blurays_path %>
<br><br>

<%= form_tag @bluray, method: "DELETE" do %>
  <%= submit_tag "Delete" %>
  <% end %>
